<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nexmo.sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.nexmo.sdk.sample.numbersample"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.nexmo.sdk.core.gcm.VerifyGcmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <activity
            android:name=".verify.ui.VerifyPhoneNumberActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:noHistory="false"
            android:taskAffinity="com.nexmo.sdk.verify.ui">
        </activity>
        <activity
            android:name=".verify.ui.CheckPhoneNumberActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:taskAffinity="com.nexmo.sdk.verify.ui">
        </activity>
    </application>

</manifest>
