<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nexmo.sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="android.permission.READ_PHONE_STATE"
                android:permissionGroup="android.permission-group.PHONE"
                android:label="@string/nexmo_permlab_readPhoneState"
                android:description="@string/nexmo_permdesc_readPhoneState"
                android:protectionLevel="normal" />

    <!-- Automatically granted permissions PROTECTION_NORMAL -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission has to be GRANTED -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.nexmo.sdk.sample.numbersample"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.nexmo.sdk.core.gcm.VerifyGcmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <activity
            android:name=".verify.ui.VerifyPhoneNumberActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:noHistory="false"
            android:taskAffinity="com.nexmo.sdk.verify.ui">
        </activity>
        <activity
            android:name=".verify.ui.CheckPhoneNumberActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:taskAffinity="com.nexmo.sdk.verify.ui">
        </activity>
    </application>

</manifest>
