<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexmo.sdk.sample.verifyquicksample" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="${applicationId}.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.gcm.permission.C2D_MESSAGE"/>

    <!-- Allows read only access to phone state.
    <p class="note"><strong>Note:</strong> If <em>both</em> your <a
    href="{@docRoot}guide/topics/manifest/uses-sdk-element.html#min">{@code
    minSdkVersion}</a> and <a
    href="{@docRoot}guide/topics/manifest/uses-sdk-element.html#target">{@code
    targetSdkVersion}</a> values are set to 3 or lower, the system implicitly
    grants your app this permission. If you don't need this permission, be sure your <a
    href="{@docRoot}guide/topics/manifest/uses-sdk-element.html#target">{@code
    targetSdkVersion}</a> is 4 or higher.
    <p>Protection level: dangerous
    -->
    <permission android:name="android.permission.READ_PHONE_STATE"
                android:permissionGroup="android.permission-group.PHONE"
                android:label="@string/nexmo_permlab_readPhoneState"
                android:description="@string/nexmo_permdesc_readPhoneState"
                android:protectionLevel="normal" /> <!--dangerous-->

    <!-- Automatically granted permissions PROTECTION_NORMAL -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.nexmo.sdk.sample.verifyquicksample.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nexmo.sdk.sample.verifyquicksample.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
