<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexmo.sdk.sample.verifyquicksample" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="${applicationId}.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.gcm.permission.C2D_MESSAGE"/>

    <!-- Automatically granted permissions PROTECTION_NORMAL -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Allows read only access to phone state. Permission has to be GRANTED -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.nexmo.sdk.sample.verifyquicksample.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nexmo.sdk.sample.verifyquicksample.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
